@font-face {
    font-family: "Osake";
    src: url("../../font/Osake-font.otf") format("opentype");
}

#home {
    height: 100vh;
    display: flex;
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.home-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.top-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 3rem;
    padding-top: 5rem;
    flex-grow: 1;
}
.bot-content {
    display: flex;
    align-items: flex-end;
    margin-left: 1.3rem;
    flex-grow: 1;
}
.footer-content {
    text-align: center;
}
.content-heading {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: "Osake", serif;
    font-size: 1.5rem;
}
.heading-second-line {
    display: block;
    padding-top: 7rem;
}

/* linkedin and github icon settings */
.content-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

/* mobile and tablet settings (WIP) */
@media (max-width: 1024px) {
    .home-container {
        padding: 0;
    }
    .content-heading {
        font-size: 0.8rem;
        text-align: left;
        padding-top: 1rem;
    }
    .top-content,
    .bot-content {
        margin: 0;
    }
    .heading-second-line {
        padding-top: 3rem;
    }
    .footer-content {
        margin-top: 0;
        font-size: 0.7rem;
    }
    .content-icons {
        display: flex;
        flex-direction: column;
        padding-right: 0;
        margin-top: 0;
    }
    .linkedin-svg,
    .github-svg {
        height: 25px;
        width: 25px;
    }
}
@media (max-width: 1000px) and (orientation: landscape) {
    .content-heading {
        writing-mode: horizontal-tb;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    .heading-second-line {
        padding: 0;
    }
    .top-content > .content-heading {
        text-align: right;
    }
    .content-icons {
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 0;
        margin-top: 0;
    }
}
