#contact {
    display: flex;
    padding: 8rem 0;
    background-color: light-dark(var(--light-bg-secondary), var(--dark-bg));
}
.contact-container {
    margin: 0 auto;
    width: 1200px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-heading {
    display: block;
    text-align: center;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
}
.contact-heading::after {
    content: '';
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #D33C39;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.contact-email {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.contact-span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    box-shadow: 0 0 10px light-dark(var(--light-shadow), var(--dark-shadow));
}

.form-title {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    top: 3px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
} 
input:checked + .slider {
    background-color: var(--color-primary);
}
input:focus + .slider {
    box-shadow: 0 0 1px var(--color-primary);
}
input:checked + .slider:before {
    -webkit-transform: translateX(27px);
    -ms-transform: translateX(27px);
    transform: translateX(28px);
}
.slider.round {
    border-radius: 34px;
}  
.slider.round:before {
    border-radius: 50%;
}

.form-content {
    margin: 2rem auto 0 auto;
    max-width: 45rem;
    width: 95%;
    padding: 3rem;
    background-color: light-dark(var(--light-bg), var(--dark-bg-secondary));
    box-shadow: 0px 5px 10px 0px light-dark(var(--light-shadow), var(--dark-shadow));
    border-radius: 10px;
    text-align: right;
    display: none;
}
.form-content.show {
    display: block;
}
@media (max-width: 716px) {
    .form-content {
        padding: 1rem;
    }
}
.form-field {
    margin-bottom: 2rem;
}
.form-label {
    color: light-dark(var(--light-color), var(--dark-color));
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
}
.form-input {
    color: light-dark(var(--light-color), var(--dark-color));
    padding: 0.7rem;
    width: 100%;
    border: 1px solid light-dark(var(--light-bg-secondary), var(--dark-bg));
    font-size: 1.1rem;
    background: light-dark(var(--light-bg-secondary), var(--dark-bg));
    border-radius: 5px;
}
.form-input:focus {
    outline: none;
}
.submit-btn {
    width: 25%;
    padding: 0.7rem;
    font-size: 1.1rem;
    background-color: light-dark(var(--light-bg-secondary), var(--dark-bg));
    box-shadow: 0px 1px 2px 0px light-dark(var(--light-shadow), var(--dark-shadow));
    border-radius: 10px;
    border: none;
    cursor: pointer;
}