.footer {
    background-color: #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 3rem 0;
}

.link-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.link-icons > a {
    display: flex;
    align-items: center;
}

.linkedin-svg, .github-svg path {
    fill: currentColor;
}

a:hover .github-svg path, a:hover .linkedin-svg path {
    fill: var(--color-primary);
}
