.footer {
    background-color: #868686;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    color: white;
    padding: 3rem 0;
}

.footer > .hero-icons {
    display: flex;
    flex-direction: row;
}