@font-face {
    font-family: 'Osake';
    src: url('../font/Osake-font.otf') format('opentype');
}

#home {
    height: 100vh;
    display: flex;
    background-image: url('/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-container {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-content-top {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-right: 3rem;
    padding-top: 5rem;
    flex-grow: 1;
}

.hero-heading {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Osake', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.top-second-line, .bot-second-line {
    display: block;
    padding-top: 7rem;
}

.home-content-bot {
    display: flex;
    align-items: flex-end;
    margin-left: 1.3rem;
    flex-grow: 1;
}

.home-content-footer {
    text-align: center;
}

.hero-icons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* github and linkedin hover effect */
#linked, #github {
    margin: 0;
}
.linked-icon, .github-icon {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: absolute; 
}
.linked-hover-icon, .github-hover-icon {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}
#linked:hover .linked-icon, #github:hover .github-icon {
    opacity: 0; 
}
#linked:hover .linked-hover-icon, #github:hover .github-hover-icon {
    opacity: 1; 
}

@media (max-width: 1024px) {
    .home-container {
        padding: 0;
    }
    .hero-heading {
        font-size: 0.8rem;
        text-align: left;
        padding-top: 1rem;
    }
    .home-content-top, .home-content-bot {
        margin: 0;
    }

    .top-second-line, .bot-second-line {
        padding-top: 3rem;
    }
    .home-content-footer {
        margin-top: 0;
        font-size: 0.7rem;
    }
    .hero-icons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1440px) and (orientation: landscape) {
    .hero-heading {
        writing-mode: horizontal-tb;
        font-size: 0.7rem;
        margin-bottom: 1rem;
    }
    .top-second-line, .bot-second-line {
        padding: 0;
    }
    .home-content-top > .hero-heading {
        text-align: right;
    }
    .hero-icons {
        flex-direction: row;
        justify-content: flex-end;
    }
}