@font-face {
    font-family: 'Osake';
    src: url('../font/Osake-font.otf') format('opentype');
}

#home {
    height: 100vh;
    display: flex;
    background-image: url('/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-container {
    margin: 5rem auto 0 auto;
    width: 1200px;
    padding: 0 2rem;
}

.home-content-top {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 3rem;
}

.hero-heading, .hero-info {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-family: 'Osake', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.heading-second-line, .info-second-line {
    display: block;
    padding-top: 7rem;
}

.home-content-bot {
    display: flex;
    margin: 2rem 0 0 1.3rem;
}

.home-content-footer {
    margin-top: 13rem;
    text-align: center;
}

#linked, #github {
    margin: 0;
}
.linked-icon, .github-icon {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    position: absolute; 
}
.linked-hover-icon, .github-hover-icon {
    opacity: 0; 
    transition: opacity 0.3s ease-in-out; 
}
#linked:hover .linked-icon, #github:hover .github-icon {
    opacity: 0; 
}
#linked:hover .linked-hover-icon, #github:hover .github-hover-icon {
    opacity: 1; 
}

.tech-icons {
    margin-top: 1rem;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}