.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem 0;
}
.link-icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.link-icons > a {
    display: flex;
    align-items: center;
}
