:root {
	font-family: 'Protest Riot', sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	
	--color-primary: #D33C39;

	--light-bg: #F9F9F9;
	--light-bg-secondary: #ffffff;
	--light-color: #212427;
	--light-shadow: rgba(100, 100, 111, 0.4);

	--dark-bg: #121212;
	--dark-bg-secondary: #232323;
	--dark-color: #ffffff;
	--dark-shadow: rgba(210, 210, 210, 0.4);

	background-color: light-dark(var(--light-bg), var(--dark-bg-secondary));
	color: light-dark(var(--light-color), var(--dark-color));

	font-synthesis: none;
	text-rendering: optimizeLegibility;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
}

::selection {
	background: var(--color-primary);
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}