:root {
    font-family: "Protest Riot", sans-serif;
    line-height: 1.5;

    /* color-scheme: light dark; */

    --color-primary: #d33c39;

    --light-bg: #fbfbfb;
    --light-bg-secondary: #f1f1f1;
    --light-color: #212427;
    --light-shadow: rgba(100, 100, 111, 0.4);

    --dark-bg: #121212;
    --dark-bg-secondary: #232323;
    --dark-color: #ffffff;
    --dark-shadow: rgba(210, 210, 210, 0.4);

    font-synthesis: none;
    text-rendering: optimizeLegibility;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

::selection {
    background: var(--color-primary);
}

a {
    text-decoration: none;
}

[data-theme="dark"] {
    /* START: General Style */
    a {
        color: var(--dark-color);
    }
    /* END: General Style */

    /* START: Header Style */
    .navbar {
        background-color: var(--dark-bg);
        box-shadow: 0 0 3px var(--dark-shadow);
    }
    .nav-links {
        background-color: var(--dark-bg);
    }
    .nav-link {
        color: var(--dark-color);
    }
    .bar {
        background-color: var(--light-bg);
    }
    /* END: Header Style */
}

[data-theme="light"] {
    /* START: General Style */
    a {
        color: var(--light-color);
    }
    /* END: General Style */

    /* START: Header Style */
    .navbar {
        background-color: var(--light-bg-secondary);
        box-shadow: 0 0 3px var(--light-shadow);
    }
    .nav-links {
        background-color: var(--light-bg-secondary);
    }
    .nav-link {
        color: var(--light-color);
    }
    .bar {
        background-color: var(--dark-bg);
    }
    /* END: Header Style */
}
