:root {
	font-family: 'Protest Riot', sans-serif;
	line-height: 1.5;

	color-scheme: light dark;
	
	--color-primary: #D33C39;

	--light-bg: #FBFBFB;
	--light-bg-secondary: #f1f1f1;
	--light-color: #212427;
	--light-shadow: rgba(100, 100, 111, 0.4);

	--dark-bg: #121212;
	--dark-bg-secondary: #232323;
	--dark-color: #ffffff;
	--dark-shadow: rgba(210, 210, 210, 0.4);

	font-synthesis: none;
	text-rendering: optimizeLegibility;

	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	scrollbar-width: thin;
}

::selection {
	background: var(--color-primary);
}

a {
	text-decoration: none;
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: var(--light-bg);
		color: var(--light-color);
	}
	a {
		color: var(--light-color);
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		background-color: var(--dark-bg-secondary);
		color: var(--dark-color);
	}
	a {
		color: var(--dark-color);
	}
}